.md-container {
  margin-bottom: 0 !important;
}
.masterdigm-property-box {
  padding: 0 !important;
}
#map-view {
  width: 100%;
  margin: 10px 0;
}
#street-view {
  width: 100%;
  margin: 10px 0;
}
#birdseye-view {
  width: 100%;
  margin: 10px 0;
}
.map_view {
  width: 100%;
  overflow: visible !important;
}
.street_view {
  width: 100%;
  overflow: visible !important;
}
.birdseye_view {
  width: 100%;
  overflow: visible !important;
}
.googlemap {
  width: 100%;
  height: 400px;
}
.birdseye_view {
  width: 100%;
  height: 400px;
}
.map_view img {
  max-width: none !important;
}
.street_view img {
  max-width: none !important;
}
.birdseye_view img {
  max-width: none !important;
}
.googlemap img {
  max-width: none !important;
}
.school_map img {
  max-width: none !important;
}
#TB_caption {
  height: auto !important;
}
.form-control {
  width: 100% !important;
}
.twitter-typeahead {
  width: 100% !important;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 470px;
  height: 45px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}
.typeahead {
  background-color: #fff;
}
.typeahead:focus {
  border: 2px solid #0097cf;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.tt-hint {
  color: #999;
}
.tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion p {
  margin: 0;
}
.gist {
  font-size: 14px;
}
.blur {
  opacity: 0.90 !important;
}
.cluster {
  background-image: url("house-icon.png") !important;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  width: 32px;
  height: 32px;
}
.masterdigm-property-box .caption {
  padding: 0px !important;
}
.masterdigm-property-box .caption h3.property-name {
  padding: 10px;
}
.masterdigm-property-box .property-amenities {
  display: inline-block;
  width: 100%;
  background-color: #F5F5F5;
}
.property-amenities > span {
  display: block;
  float: left;
  font-size: 11px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 25%;
}
.property-amenities > span > strong {
  display: block;
  font-size: 14px;
}
.price {
  text-align: center;
}
.property-item .label-property {
  height: 20px;
  left: 16px;
  letter-spacing: 2px;
  padding: 5px 10px 1px 6px;
  position: absolute;
  text-transform: uppercase;
  top: 1px;
}
.property-item .thumbnail a > img {
  height: 200px;
  min-height: 200px;
  width: 100%;
}
.col-md-6 .thumbnail a > img {
  height: 300px;
  min-height: 300px;
  width: 100%;
}
ul.dropdown-menu {
  list-style: none outside none !important;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.single-property-quick-info li > p {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
ul.child_list {
  list-style: none outside none !important;
}
ul.child_list > li {
  display: inline-block;
  width: 20%;
}
.col-nopad {
  padding: 0px !important;
}
.col-nopad-1 {
  padding: 1px !important;
}
.col-nopad-2 {
  padding: 2px !important;
}
.col-nopad-3 {
  padding: 3px !important;
}
#md-proppage h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  padding: 0px;
  margin: 15px 0px;
  width: 100%;
  overflow: hidden;
}
#md-proppage h3 {
  font-size: 15px;
  font-weight: bold;
}
#md-proppage h2 span {
  display: inline-block;
  position: relative;
  width: 100%;
}
#md-proppage-form form {
  margin: 5px 0;
}
#md-proppage-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
#md-proppage-form .form-group {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
}
#md-proppage-form .form-group .btn {
  font-size: 11px;
  font-weight: normal;
  border: none;
  text-transform: uppercase;
}
#md-proppage-form .btn-default {
  text-shadow: none;
}
#md-proppage-tab {
  margin-top: 15px;
}
#md-proppage-tab .nav-tabs a {
  text-transform: uppercase;
  font-size: 12px;
  outline: none;
  border: none;
  margin-bottom: 1px;
  padding: 7px 15px;
  line-height: normal;
}
#md-proppage-tab .nav-tabs > li > a {
  border-radius: 2px;
}
#md-proppage-tab .nav-tabs {
  border: none;
}
.tab-content .tab-pane {
  margin-top: -15px;
}
#md-proppage-pagi {
  margin-top: 15px;
}
#md-proppage-pagi .pager {
  margin: 0px 0px;
  text-align: right;
}
#md-proppage-pagi .pager li > a,
#md-proppage-pagi .pager li > span {
  border: medium none;
  border-radius: 2px;
  font-size: 12px;
  outline: medium none;
  padding: 5px 15px;
  text-transform: uppercase;
}
#md-proppage-prdet .prdet li {
  text-align: center;
  margin-right: -2px;
  padding: 10px 20px;
  font-size: 30px;
  text-transform: uppercase;
}
#property-details .single-property-quick-info > li {
  text-align: center;
  margin-right: -2px;
  padding: 10px 20px;
  font-size: 30px;
  text-transform: uppercase;
}
#md-proppage-prdet .prdet li span {
  display: block;
  font-size: 15px;
  margin-top: -10px;
}
#md-proppage-prdet li.price {
  font-weight: bold;
}
#property-details li.price {
  font-weight: bold;
}
#md-proppage-prdet li.price span {
  font-weight: normal;
}
.single-property-carousel {
  margin-top: -10px;
}
.galleria-theme-classic {
  margin: -10px !important;
}
.galleria-theme-classic .galleria-thumbnails-container {
  bottom: 10px;
}
.galleria-theme-classic .galleria-stage {
  top: 10px;
}
#md-proppage-right .title h1 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}
#md-proppage-right .dbutton {
  margin-top: 10px;
}
#md-proppage-right .dbutton .btn-default {
  text-shadow: none;
  border: none;
}
#md-proppage-right .agent {
  margin-top: 10px;
}
#md-proppage-right .agent h3 {
  font-size: 15px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
#md-proppage-right .agent p {
  font-size: 13px;
}
#md-proppage-right .inqform {
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
}
#md-proppage-right .inqform h2 {
  margin-top: 0px;
}
#md-proppage-right .inqform .btn-default {
  border: none;
  font-size: 15px;
  text-shadow: none;
}
#md-proppage-right .similar-homes .prop-contain {
  margin-top: 10px;
  padding: 8px;
}
#md-proppage-right .similar-homes h3 {
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}
#md-proppage-right .similar-homes p {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  height: 150px;
  min-height: 150px;
  width: 100%;
}
#md-proppage-right .similar-homes p.price {
  font-size: 15px;
  font-weight: bold;
}
#md-proppage-right .similar-homes .smbut {
  margin-top: 5px;
}
#md-proppage-right .similar-homes .smbut .btn-default {
  text-shadow: none;
  border: none;
}
.favorite-button,
.xout-button,
.print-button,
.share-button {
  font-size: 11px !important;
  border-radius: 2px !important;
  margin-bottom: 2px !important;
}
#md-proppage-left .listing-info ul li,
#md-proppage-left .details-table ul li {
  padding: 10px 20px;
  font-size: 13px;
  text-transform: uppercase;
}
#md-proppage-left .details-txt p {
  font-size: 15px;
  line-height: 25px;
}
#md-proppage-left .single-property-desc p {
  font-size: 15px;
  line-height: 25px;
}
#md-proppage-left .details-table {
  margin-top: 20px;
}
#md-proppage-left ul.left-details li span.list {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
#md-proppage-left ul.left-details li {
  height: 150px;
  min-height: 150px;
  width: 100%;
  display: inline-block;
  width: 50%px;
}
#property-details li span {
  display: block;
  font-size: 13px;
}
#property-details li span.cont {
  width: 600px;
  display: inline-block;
}
ul.agent-box > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
@media (max-width: 767px) {
  .property-item .thumbnail a > img {
    height: 50%;
  }
  #property-details li span.cont {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .property-item .thumbnail a > img {
    height: 50%;
  }
  #property-details li span.cont {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #property-details li span.cont {
    width: 70%;
  }
}
.masterdigm-property-box .caption h3.property-name {
  padding: 10px;
  height: 47px;
  overflow: hidden;
}
